* {
  box-sizing: border-box;
  color: white;
}

body {
  background-attachment: fixed;
  display: flex;
  height: 100vh;
}
.content {
  /* border: 2px solid #fff; */
  margin: 1% 2% 1% 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.matches {
  width: 100%;
  max-height: 95vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1% 0 1% 0;
  box-sizing: content-box;
}

.matches::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.heading {
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1%;
  font-weight: bold;
}

.match-card {
  width: 80%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px white solid;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  margin-bottom: 2%;
  border-radius: 10px;
  flex-direction: row;
  position: relative;
}

.image {
  display: flex;
  /* border: 2px white solid; */
  height: 100%;
  width: auto;
  position: relative;
  z-index: 0;
  padding: 2%;
}

.photo {
  position: relative;
  border-radius: 50%;
  border: 2px white solid;
  width: auto;
  height: 100%;
  padding: 5px;
}

.sign {
  border-radius: 50%;
  border: 2px white solid;
  width: 15%;
  height: 15%;
  background-color: white;
  position: absolute;
  bottom: 18%;
  left: 20%;
  transform: translateX(-50%);
  z-index: 1000;
}
.overview {
  /* border: 1px dashed white; */
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.basic-info {
  width: 100%;
  display: flex;
  padding: 1%;
}
.basic1 {
  width: 40%;
}
.basic2 {
  width: 60%;
  font-size: 1rem;
  margin-top: 0.5%;
}
h1 {
  margin-bottom: 0;
}
#name {
  font-size: 2.3rem;
}
.basic1 > p {
  font-size: 0.9rem;
  margin-bottom: 0;
}
#chances {
  font-style: italic;
  color: green;
}
.decision {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  height: 100%;
}
.decision > p {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.openline {
  font-size: 1.3rem;
  text-align: center;
  font-style: oblique;
  background: rgba(0, 0, 0, 0.1);
  bottom: 0;
  position: absolute;
  align-self: center;
  margin: 0 0 1% 0;
}

/* Like Button */
.like-button .heart-icon {
  height: 100px;
  width: 100px;
  background: url("../img/heart.png");
  background-position: left;
  cursor: pointer;
  position: absolute;
}

.like-button .heart-icon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
  from {
    background-position: left;
  }
}
.like-button .heart-bg:hover {
  background: rgba(255, 192, 200, 0.7);
}

.like-button {
  display: flex;
  align-items: center;
}

.like-button .likes-amount {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #888;
  font-weight: 900;
  margin-left: 6px;
}
.like-button .heart-bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
  margin-bottom: 50px;
}
.compreport{
  width: auto;
  height: auto;
  padding: 1%;
  cursor: pointer;
  border: 1px white solid;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  margin-bottom: 2%;
  border-radius: 10px;
  position: relative;
  text-align: center;
  transition: background-color 0.5s, tranform 0.5s;
}

.compreport:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(0.99);
}