@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:ital,wght@0,400;0,600;1,700&family=Roboto+Condensed:ital,wght@1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: rgb(0, 0, 0);
  height: 600vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background-image: url("../img/bg.jpg"); */
  /* overflow: hidden; */
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

p {
  color: white;
  font-size: 25px;
  /* margin-left: 15px; */
}
.star {
  background-image: url(../img/giphy.gif);
  background-size: cover;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255); /* width and color */
  background-position: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: Consolas, monaco, monospace;
  font-family: "Open Sans",  sans-serif;
}
.chakra {
  width: 765px;
  position: fixed;
  top: -2.5%;
  left: 75.3%;
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  overflow: hidden;
  z-index: 200;
  filter: drop-shadow(0 0 5rem rgb(60, 20, 220));
}
.flower {
  width: 765px;
  position: fixed;
  top: -2.5%;
  left: 75.3%;
  animation: rotateflower 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
  overflow: hidden;
  z-index: 201;
}
@keyframes rotateflower {
  to {
    transform: rotate(-180deg);
  }
}
.logo {
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  margin-right: 200px;
  z-index: 500;
}

@keyframes rotate {
  to {
    transform: rotate(180deg);
  }
}

.divtrigger {
  display: flex;
  width: 71%;
  height: 10%;
  margin-right: 360px;
  /* margin-top: 50px; */
  z-index: 200;
}
button {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 3em;
  padding: 1em 2em;
  margin-top: 10vh;
  margin-right: 1px;
}
button {
  color: rgb(116, 116, 221);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: #9239e6;
  }
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

#div1,
#div2,
#div3,
#div4,
#div5,
#div6 {
  /* background: white; */
  /* background: rgb(255, 255, 255, 0.3); */
  border: wheat 1px solid;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  text-align: center;
}

.text {
  margin-top: 50px;
}
.text3 {
  margin-top: 50px;
}
.bigtext {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  margin-left: 200px;
  font-weight: 1000;
  color: white;
  margin-left: 50px;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
.bigtext2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: 600;
  color: white;
  margin-left: 475px;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
.bigtext3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: 600;
  color: white;
  margin-left: 25px;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
span {
  color: rgb(116, 0, 239);
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  margin-left: 50px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 35px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
}
.about2 {
  display: flex;
  align-items: right;
  justify-content: right;
  font-size: 35px;
  color: white;
  margin-left: 450px;
  margin-right: 5px;
  margin-top: -210px;
  width: 600px;
}
.about3 {
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: 29px;
  color: white;
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 50px;
  width: 600px;
}
.about7 {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-size: 20px;
  color: white;
  margin-left: -850px;
  margin-right: 0px;
  margin-top: 390px;
  width: 100%;
  /* background-color: red; */
}
/* Go to top */
#top {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
  border: none;
  outline: none;
  background-color: #8554b0;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#top:hover {
  background-color: #555;
}

.birth {
  font-size: 17px;
  width: 50%;
  position: fixed;
  left: 0;
  margin-top: 30px;
  margin-left: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Cards */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,800);
.snip1401 {
  font-family: "Playfair Display", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  margin-left: 50px;
  margin-top: 0px;
  min-width: 230px;
  max-width: 355px;
  max-height: 240px;
  width: 100%;
  color: #000000;
  text-align: right;
  font-size: 16px;
  border: wheat 2px solid;
  background-color: #000000;
  border-radius: 25px;
}
.snip1401 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1401 img {
  max-width: 100%;
  max-height: 100%;
  backface-visibility: hidden;
}
.snip1401 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #6253ac82;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}
.snip1401 figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent #6253ac82 transparent transparent;
}
.snip1401:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: rgba(99, 3, 121, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1401 h3,
.snip1401 p {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}
.snip1401 h3 {
  margin: 0 0 5px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 1.4em;
  opacity: 0.75;
}
.snip1401 p {
  font-size: 1em;
  margin-top: 40px;
}
.snip1401 i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  font-size: 44px;
  color: #ffffff;
  opacity: 0;
}
.snip1401 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1401:hover img,
.snip1401.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.snip1401:hover:after,
.snip1401.hover:after,
.snip1401:hover figcaption,
.snip1401.hover figcaption,
.snip1401:hover i,
.snip1401.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* image hover */
.wrapper {
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 300px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  margin-top: -300px;
  margin-left: 220px;
}

.card {
  width: 55px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 7px;
  display: flex;
  align-items: flex-end;
  transition: 1s cubic-bezier(0.58, -0.33, 0, 0.09);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  border: wheat 1px solid;
}

.card > .row {
  color: white;
  display: flex;
  position: fixed;
  flex-wrap: nowrap;
  margin-bottom: -11px;
  margin-left: -12px;
}

.card > .row > .icon {
  background: rgba(59, 59, 99, 0.594);
  color: white;
  border-radius: 50%;
  width: 50px;
  margin-left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description p {
  color: #b0b0ba;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}
.sign {
  font-size: 25px;
  color: white;
  margin-bottom: 145px;
  margin-left: -5px;
  text-transform: uppercase;
  transform: rotate(-90deg);
}
input {
  display: none;
}
input:hover + label {
  width: 270px;
}
/* input:checked + label {
  width: 250px;
} */

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("../img/signs/leo.jpg");
}
.card[for="c2"] {
  background-image: url("../img/signs/capricorn.jpeg");
}
.card[for="c3"] {
  background-image: url("../img/signs/taurus.jpg");
}
.card[for="c4"] {
  background-image: url("../img/signs/aries.webp");
}
.card[for="c5"] {
  background-image: url("../img/signs/aquarius.jpg");
}
.card[for="c6"] {
  background-image: url("../img/signs/sagittarius.avif");
}
.card[for="c7"] {
  background-image: url("../img/signs/gemini.jpg");
}
.card[for="c8"] {
  background-image: url("../img/signs/libra.avif");
}
.card[for="c9"] {
  background-image: url("../img/signs/pisces.jpg");
}
.card[for="c10"] {
  background-image: url("../img/signs/virgo.jpg");
}
.card[for="c11"] {
  background-image: url("../img/signs/scorpio.jpg");
}
.card[for="c12"] {
  background-image: url("../img/signs/cancer.jpg");
}
