@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

.profile_completion_popup{
    display: none;
    position: fixed;
    top: 70px;
    left: 415px;
    z-index: 1000;
}

.partner_requirements_con{
    display: none;
    width: 60%;
    position: fixed;
    top: 70px;
    left: 350px;
    z-index: 1000;
}

.profile_picture_con{
    display: none;
    width: 70%;
    position: fixed;
    top: 70px;
    left: 350px;
    z-index: 1000;
}

.cross{
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
    bottom: 23px;
}

.container {
    position: relative;
    width: 70%;
    background: #EEEEEE;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form{
    padding-right: 30px;
}

.error{
    color: red;
    display: none;
}

#hobbies{
    margin-left: 45px;
}

#req{
    margin-left: 10px;
}

.form .hob{
    color: black;
    position: relative;
    bottom: 50px;
}

.container header {
    font-size: 1.5rem;
    color: #000;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
}

.container .form {
    margin-top: 15px;
}

.form .input-box {
    width: 100%;
    margin-top: 10px;
}

.input-box label {
    color: #000;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 35px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #808080;
    margin-top: 5px;
    border: 1px solid #EE4E34;
    border-radius: 6px;
    padding: 0 15px;
    background: white;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.form .gender-box {
    margin-top: 10px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
}

.gender input {
    accent-color: #EE4E34;
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.gender label {
    color: #000;
}

.gender-box label{
    color: black;
}

.address :where(input, .select-box) {
    margin-top: 10px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #808080;
    font-size: 1rem;
    background: white;
}

.form button {
    height: 40px;
    width: 100%;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #EE4E34;
}

.form button:hover {
    background: #EE3E34;
}